<app-header *ngIf="showHeaderFooter()"></app-header>
<app-sidebar-menu></app-sidebar-menu>
<div *ngIf="showSidebar(); else mainContentOnly" class="app-layout">
  <div class="al-left">
    <app-sidebar></app-sidebar>
  </div>
  <div class="al-right">
    <div class="app-main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<ng-template #mainContentOnly>
  <div class="app-main-content">
    <router-outlet></router-outlet>
  </div>
</ng-template>
<app-footer *ngIf="showHeaderFooter()"></app-footer>
