<header class="main-header">
  <div class="container header-content">
    <div class="logo-title">
      <img src="/logo.png" alt="Smoke-Free Journey Logo"/>
      <h1 class="site-title">Smoke-Free Journey</h1>
    </div>
    <nav class="main-nav">
      <a [routerLink]="['/homepage']" class="nav-link">Home</a>
      <a *ngIf="isAdmin" [routerLink]="['/admin-dashboard']" class="nav-link">Dashboard</a>
      <a *ngIf="!isLoggedIn" [routerLink]="['/login']" class="nav-link">Login</a>
      <a *ngIf="isLoggedIn" href="#" class="nav-link" (click)="logout($event)">Logout</a>
    </nav>
  </div>
</header>
